.login_page {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "s"
    "d";
    align-items: center;
    justify-items: center;
}

.card {
    grid-area: s;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 19.5em;
    height: 17em;
    border: 1px solid #d1d5da6b;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1), 0 10px 13px 0 rgba(0, 0, 0, 0.082);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.cardForm {
    display: flex;
    flex-direction: column;
    padding-left: 2.5em;
}

.card > b {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.demo_section {
    grid-area: d;
    display: flex;
    margin-top: 2em;
    padding-bottom: 5em;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.larger {
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1em;
}

.large {
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1em;
}

.light_button {
    margin-top: 2em;
    background: #f0f7ff;
    color: #007aff;
    min-width: 20em;
    border-width: 0;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1em;
    border-color: #88a0ad;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    outline: 0;
}

.header_button {
    position: absolute;
    font-weight: 400;
    font-size: 1em;
    color: white;
    background-color: transparent;
    border-width: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1.2em;
    font-size: 1.25rem;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    outline: none;
}


.form_section {
    display: flex;
    flex-direction: column;
    /*justify-self: flex-start;*/
}

.form_input {
    margin-left: 0.5em;
    border: none;
    outline: none;
    font-size: 1.50em;
    width: 80%;
}

.error_div {
    display: flex;
    align-self: flex-start;
    /*ma: 1em;*/
    font-size: 1em;
    color: #F54239;
}

.error_svg {
    fill: #F54239;
}

.form_options {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.create_button {
    border-width: 0;
    font-size: 1.25em;
    color: #3C93FE;
    margin-right: 1em;
    background-color: transparent;
    outline: none;
}

.create_button:hover {
    text-decoration: underline;
}

.login_button {
    padding: 0.75em;
    color: #FFF;
    background-color: #387AFF;
    border-radius: 1em;
    font-size: 1.25em;
    outline: none;
}

@media screen and (min-width: 768px) {
    .login_page {
        min-height: 100vh;
        display: grid;
        grid-template-areas:
                "s d";
        align-items: center;
        justify-items: center;
    }

    .card {
        justify-self: flex-end;
    }

    .demo_section {
        justify-self: flex-start;
        padding-left: 3em;
        padding-bottom: 0em;
    }
}
