button, .button, .button-curved {
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .67;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadein;
    animation-delay: .5s;
    animation-duration: 2s;
}

@media screen and (max-width: 1020px) {
    button:active, .button:active, .button-curved:active {
        // box-shadow: 0 1px 3px rgba(0, 0, .12), 0 1px 2px rgba(0, 0, .24);
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    button, .button, .button-curved {
        -webkit-transition: none;
        transition: none;
    }
}
@media screen and (min-width: 1020px) {
    .button {
        border-right: 1px solid #e1e4e8!important;
    }

    button:hover, .button:hover, .button-curved:hover {
        // box-shadow: 0 1px 3px rgba(0, 0, .12), 0 1px 2px rgba(0, 0, .24);
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
}

