.card { 
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 150px; 
    border: 1px solid #d1d5da;
    border-radius: 3px; 
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.card > b {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.pagination-button { 
    // color: rgba(0, 0, 0, 0.45); 
    color: rgba(0, 0, 0, 0.95); 

    padding-left: 0.4rem; 
    padding-right: 0.4rem; 
    // max-height: 2rem;
    // max-width: 2.5rem;
    // border: 0.40px solid #000; 
    border-radius: 4px;
    // background: #EAF1FA;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 28px;
    height: 25px; 
    width: 35px;
    object-fit: cover;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    // margin-top: 0.2rem;
    font-weight: 200;
    font-size: 1.125rem;
}

.pagination-button > b {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.pagination-button:active {
    transform: translateY(2px);
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0);
}

/* .card-1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */