button, .button, .button {
    display: flex;
    background: #007AFF;
    color: #fff;
    // padding: 10px;
    min-height: 28px;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #007AFF;
    border-radius: 4px;
    font-size: 0.9rem;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

button:hover, .button:hover, button:focus, .button:focus {
    background-color: #3085fc;
    color: white;
    outline:none;
}

button:active, .button:active, .active {
    background-color: #fff;
    color: #007AFF;
    border-color: #007AFF;
    // outline: black;
    // outline-width: 10px;
    // outline: none;
}

button-curved, .button-curved {
    display: flex;
    flex-direction: row;
    background: #F0F7FF;
    color: #007AFF;
    min-height: 28px;
    border-width: 0;
    border-radius: 1rem;
    -webkit-padding-start: 0.2rem;
    padding-inline-start: 0.2rem;
    -webkit-padding-end: 1rem;
    padding-inline-end: 1rem;
    font-size: 0.9rem;
    border-color: #88a0ad;  
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.button-curved span .glyph-add {
    width: 1.3rem;
    height: 1.3rem;
    fill: #007AFF;
    // left: 50%;
    // top: 25%;
}

button-curved:hover, .button-curved:hover, button-curved:focus, .buttoncurved:focus {
    background-color: rgb(234, 241, 250);
    color: rgb(42, 144, 253);
}

button-curved:active, .button-curved:active, button-cuved.active {
    background-color: rgb(234, 241, 250);
    color: rgb(42, 144, 253);
    outline: none;
}

.border-bottom {
    border-bottom: 1px solid #e1e4e8!important ;
}

a, .link {
    color: #b8d1df;
}

a:hover, .link:hover, a:focus, .link:focus {
    color: #b8d1df;
}

a:active, .link:active {
    color: #88a0ad
}

i, .icon {
    background-color: #88a0ad;
    border-radius: 50%;
    color: #fff;
}

.alert.error {
    background-color: #ffebee;
    color: #af4448;
}

.alert.warning {
    background-color: #fffde7;
    color: #333333;
}

.alert.info {
    background-color: #ebffff;
    color: #9ebdce;
}

.alert.success {
    background-color: #e8f5e9;
    color: #087f23;
}

// disables text selection
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }



