/* Use text for text that's smaller than 20 points, use display for 
   text that's 20 points or larger.
*/
/* @font-face {
    font-family: "SF Pro Text";
    src: url(../webfonts/SF-Pro-Text/sf-pro-text_regular.woff2);
}

@font-face {
    font-family: "SF Pro Display";
    src: url(../webfonts/SF-Pro-Display/sf-pro-display_regular.woff2);
} */

html, body {
    font-family: -apple-system,BlinkMacSystemFont,"SF Pro Text", "SF Pro Display", "Helvetica", "Segoe UI" ," Arial",sans-serif,"Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    /* applies anti-aliasing for macOS/mac OS X products */
    -webkit-font-smoothing: antialiased; 

    /* applies anti-aliasing for Firefox */
    -moz-osx-font-smoothing: grayscale; 
}

small {
    /* using mininum font-size scale*/
    font-size: .875rem;
}

p {
    padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2rem;
}

h1, h2, h3 {
    padding-top: 2rem;
}

h4, h5, h6 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}


/* h1-h6 use SF-Pro-Display since they are bigger than 20px */
h1, h2, h3, h4, h5, h6 {
    font-family: 'SF Pro Display', sans-serif;
}
/* h1-h6 use font scale: 14, 16, 20, 24, 30, 36, 48, 60..*/
h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.875rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}