.grid-page {
    height: 100%;
    display: grid;
    /* grid-gap: 5px; */
    /* short-hand method for grid-template-columns (L) */
    grid-auto-rows: 50px;
    grid-template-rows: 3.5em 4.5em auto 50px;
    grid-template-columns: 16em auto auto;

    grid-template-areas: 
        "h h h"
        "mh ch ch"
        "mr cr cr"
        "f f f"
}

.header {
    /* span to the last column line */
    grid-area: h; 
    display: flex;
    /* margin-left: 5em;
    margin-right: 5em; */
    background-color: #2b3a42;
    /* color: #88a0ad; */
}

.header > h6:nth-child(3) {
    margin-left: auto;
    /* margin-left: 90%; */
}


.header > h6:nth-child(4) {
    margin-left: auto;
}

.menu {
    grid-area: mr;
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
}

.menu-header {
    grid-area: mh;
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
}

.menu-header > .mh-contents {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    align-self: center;
    align-items: center;
}

.headline {
    display: flex;
    grid-area: ch;
    flex-direction: column;
}

.headline > .headline-contents {
    display: flex;
    flex-direction: row;
    margin-top: 1.3rem;
    align-self: flex-start;
    margin-left: 1rem;
    align-items: center;
}

.contents-grid {    
    display: grid;
    grid-area: cr;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 250px); */
    grid-auto-rows: 185px auto;
    justify-items: center;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.footer {
    grid-area: f;
    display: flex;
    align-content: left;
    background-color: #333333;
    color: #fff;
    /* span to the last column line */
}

.footer > span {
    margin-left: auto;
}

@media screen and (max-width: 1020px) {
    .grid-page {
        grid-template-rows: 3.5em 4.5em 7.15em 4em auto 3em;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "h h h"
        "mh mh mh"
        "mr mr mr"
        "ch ch ch"
        "cr cr cr"
        "f f f";
        }

    .menu {
        border-bottom: 1px solid #e1e4e8!important;
        border-right: none;
    } 
}

@media screen and (min-width: 1020px) {
    .menu {
        border-right: 1px solid #e1e4e8!important;
    }
    
    .menu-header {
        border-right: 1px solid #e1e4e8 !important;
    }
}