.grid-page {
    height: 100%;
    display: grid;
    grid-auto-rows: 50px;
    grid-template-rows: 3em 5.5em auto 5em 50px;
    grid-template-columns: 16em auto auto;

    grid-template-areas: 
        "h h h"
        "mh ch ch"
        "mr cr cr"
        "mr . ."
        "f f f"
}

.header {
    /* span to the last column line */
    grid-area: h; 
    display: flex;
    /* margin-left: 5em;
    margin-right: 5em; */
    background-color: #343434;
    /* color: #88a0ad; */
}

.header > h6:nth-child(3) {
    margin-left: initial;
    /* margin-left: 90%; */
}


.header > h6:nth-child(4) {
    margin-left: auto;
}

.menu {
    grid-area: mr;
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
}

.menu-header {
    grid-area: mh;
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
}

.menu-header > .mh-contents {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    align-self: center;
    align-items: center;
}

.headline {
    display: flex;
    grid-area: ch;
    flex-direction: column;
}

.headline > .headline-contents {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-self: flex-start;
    margin-left: 0;
    align-items: center;
}

.contents-grid {    
    display: grid;
    grid-area: cr;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
    // grid-template-rows: repeat(auto-fit, minmax(150, 1fr)) auto;
    grid-auto-rows: 200px 100px 180px auto;
    justify-items: center;
    padding-right: 1.5rem;
}

.footer {
    grid-area: f;
    display: flex;
    align-content: left;
    background-color: #343434;
    color: #fff;
    /* span to the last column line */
}

.footer > span {
    margin-left: auto;
}

@media screen and (max-width: 1020px) {
    .grid-page {
        grid-template-rows: 3em 5em 7em 6.5em auto 8em 3em;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "h h h"
        "mh mh mh"
        "mr mr mr"
        "ch ch ch"
        "cr cr cr"
        ". . ."
        "f f f";
        }

    .menu {
        border-bottom: 1px solid #e1e4e8!important;
        border-right: none;
    } 

    .headline > .headline-contents {
        margin-left: 0rem;
    }

    .headline > span > span {
        padding-top: 0.75em;
    }
}

@media screen and (min-width: 1020px) {
    .menu {
        border-right: 1px solid #e1e4e8!important;
    }
    
    .menu-header {
        border-right: 1px solid #e1e4e8 !important;
        
    }

    .headline > span > span {
        padding-top: 0.45em;
    }
}