.grid-page {
    height: 100%;
    display: grid;
    /* grid-gap: 5px; */
    /* short-hand method for grid-template-columns (L) */
    grid-auto-rows: 50px;
    grid-template-rows: 3.5em auto 50px;
    grid-template-columns: 16em auto;

    grid-template-areas: 
        "h h"
        "m c"
        "f f"
}

.header {
    /* span to the last column line */
    grid-area: h; 
    display: flex;
    /* margin-left: 5em;
    margin-right: 5em; */
    background-color: #2b3a42;
    /* color: #88a0ad; */
}

.header > h6:nth-child(3) {
    margin-left: auto;
    /* margin-left: 90%; */
}


.header > h6:nth-child(4) {
    margin-left: auto;
}

.menu {
    border-radius: 2px;
    border-color: black;
    display: flex;
    flex-direction: column;
    grid-area: m;
    background-color: #F6F8FA;
}

.contents {
    grid-area: c;
    display: grid;
    grid-template-rows: 3.5em auto auto auto;

    grid-template-areas: 
        "ch"
        "cg"
        "bb"
        ".";
}

.contents > .contents-headline {
    display: flex;
    grid-area: ch;
    flex-direction: row;
    /* text-justify: distribute; */
    align-items: center;
    align-self: center;
        /* justify-content: center; */
    /* justify-content: center; */
    /* margin-top: 10px; */
    padding-top: 2.5rem;
}
.contents > .contents-grid {    
    display: grid;
    grid-area: cg;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 250px); */
    grid-auto-rows: 240px;
    justify-items: center;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
}

.contents > .border-bottom {
    display: flex;
    grid-area: bb;
}

.footer {
    grid-area: f;
    display: flex;
    align-content: left;
    background-color: #333333;
    color: #fff;
    /* span to the last column line */
}

.footer > span {
    margin-left: auto;
}

@media screen and (max-width: 1020) {
    .grid-page {
        grid-template-rows: 3.5em 10em auto 3em;
        grid-template-columns: auto;
        grid-template-areas:
            "h h h h h"
            "m m m m m"
            "c c c c c"
            "f f f f f";
        }

    .menu {
        border-bottom: 1px solid #e1e4e8!important;
        border-right: none;
    } 
}

@media screen and (min-width: 1020) {
    .menu {
        border-right: 1px solid #e1e4e8!important;
    }
}