.menu {
    grid-area: mr;
    display: flex;
    flex-direction: column;
    background-color: #F6F8FA;
}

.delete_button {
    display: flex;
    align-self: flex-end;
    fill: #F54239;
}
.label_section {
    margin-left: 1em;
}

.label_section_name {
    align-self: self-start;
    display: inline-block;
    width: 4.5em;
}

.new_label_input {
    font-size: 1em;
    border-radius: 0em;
    border-width: 0em;
    text-align: left;
    outline: 0;
}

.error_div {
    display: flex;
    align-self: flex-start;
    /*ma: 1em;*/
    font-size: 0.75em;
    color: #F54239;
}

.error_svg {
    fill: #F54239;
}


.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 13.5em;
    height: 9em;
    border: 1px solid #d1d5da6b;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1), 0 10px 13px 0 rgba(0, 0, 0, 0.082);
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.card > b {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.add_label_card {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 13.5em;
    height: 9em;
    border: 1px solid rgba(209,213,218,.42);
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1), 0 10px 13px 0 rgba(0,0,0,.082);
    transition: all .4s cubic-bezier(.25,.8,.25,1);
}

.add_label_card {
    background: rgb(240, 247, 255);
    border-style: dashed;
    border-width: 3px;
    border-color: rgb(49, 146, 254);
    color: rgb(0, 122, 255);
    text-align: center;
}

.modal_p {
    display: flex;
    margin-top: 0em;
    margin-bottom: 0em;
    text-decoration: none;
    line-height: 1.5rem;
    min-width: 10rem;
}

.modal_form {
    display: flex;
    flex-direction: column;
}

.group {
    min-width: 10em;
}

.modal_border {
    border-bottom: 1px solid #e1e4e8!important;
    padding-bottom: 1em;
    min-width: 14.5em;
}

.edit_group_input {
    font-size: 1em;
    border-radius: 0em;
    border-width: 0em;
    text-align: center;
    outline: 0;
    align-self: center;
}

.group_button {
    border-width: 0em;
    max-width: 50%;
    font-size: 1em;
    background-color: transparent;
    padding: 0px;
    display: flex;
}
.new_group_cancel {
    width: 1em;
    margin-left: 0.5em;
}

.done_button {
    margin-top: 1em;
    align-self: flex-end;
}