.header > h6 {
  padding: 10px 20px;
  font-weight: 500;
  color: #fff;
}

.grid-page > div {
  /* display: flex; */
  align-items: center;
  padding: 0px 20px;
}

.grid-page > .menu > .menu-header {
  margin-top: 1.5em;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
} 

.grid-page > .menu > .menu-header > .btn {
  max-width: 50%;
}
.grid-page > .menu > .menu-contents {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
} 

.grid-page > .menu > .menu-contents > p {
  margin-top: 0em;
  padding-left: 1.5em;
  /* padding-top: 0em; */
}

.grid-page > .contents > .contents-headline {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}


html, body {
  margin: 0px;
  background-color: #F6F8FA;
}

@media (max-width: 768px) {

  .header > h6 {
    padding: 0px 0px;
    margin-left: 10px;
    font-weight: 500;
    color: #fff;
  }

  .header > h6 > h6 {
    margin-left: 10px;
  }
}
