button, .button {
    background-color: #b8d1df;
    color: black;
    padding: 10px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #88a0ad;
}

button:hover, .button:hover, button:focus, .button:focus {
    background-color: #88a0ad;
    color: white;
}

button:active, .button:active, .active {
    background-color: #ebffff;
    color: black;
}

a, .link {
    color: #b8d1df;
}

a:hover, .link:hover, a:focus, .link:focus {
    color: #b8d1df;
}

a:active, .link:active {
    color: #88a0ad
}

i, .icon {
    background-color: #88a0ad;
    border-radius: 50%;
    color: #fff;
}

.alert.error {
    background-color: #ffebee;
    color: #af4448;
}

.alert.warning {
    background-color: #fffde7;
    color: #333333;
}

.alert.info {
    background-color: #ebffff;
    color: #9ebdce;
}

.alert.success {
    background-color: #e8f5e9;
    color: #087f23;
}



