button, .button {
  -webkit-transition: all .15s ease;
  transition: all .15s ease; }

button:hover, .button:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px); }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: .67; }
  100% {
    opacity: 1; } }

.fade-in {
  animation-name: fadein;
  animation-delay: .5s;
  animation-duration: 2s; }

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 150px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card > b {
  margin-bottom: 0.5rem;
  margin-top: 1rem; }

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/* .card-1 {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
button, .button {
  background: #007AFF;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62baec', endColorstr='#1280d3',GradientType=0 );
  color: #fff;
  height: 28px;
  min-width: 90px;
  border-width: 0;
  border-radius: 4px;
  border-color: #88a0ad;
  -webkit-padding-start: 12px;
  padding-inline-start: 12px;
  -webkit-padding-end: 12px;
  padding-inline-end: 12px;
  font-weight: 600; }

button:hover, .button:hover, button:focus, .button:focus {
  background-color: #5da0ff;
  color: white; }

.border-bottom {
  border-bottom: 1px solid #e1e4e8 !important; }

button:active, .button:active, .active {
  background-color: #ebffff;
  color: black; }

a, .link {
  color: #b8d1df; }

a:hover, .link:hover, a:focus, .link:focus {
  color: #b8d1df; }

a:active, .link:active {
  color: #88a0ad; }

i, .icon {
  background-color: #88a0ad;
  border-radius: 50%;
  color: #fff; }

.alert.error {
  background-color: #ffebee;
  color: #af4448; }

.alert.warning {
  background-color: #fffde7;
  color: #333333; }

.alert.info {
  background-color: #ebffff;
  color: #9ebdce; }

.alert.success {
  background-color: #e8f5e9;
  color: #087f23; }

/* Use text for text that's smaller than 20 points, use display for 
   text that's 20 points or larger.
*/
/* @font-face {
    font-family: "SF Pro Text";
    src: url(../webfonts/SF-Pro-Text/sf-pro-text_regular.woff2);
}

@font-face {
    font-family: "SF Pro Display";
    src: url(../webfonts/SF-Pro-Display/sf-pro-display_regular.woff2);
} */
html, body {
  font-family: -apple-system,BlinkMacSystemFont,"SF Pro Text", "SF Pro Display", "Helvetica", "Segoe UI" ," Arial",sans-serif,"Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* applies anti-aliasing for macOS/mac OS X products */
  -webkit-font-smoothing: antialiased;
  /* applies anti-aliasing for Firefox */
  -moz-osx-font-smoothing: grayscale; }

small {
  /* using mininum font-size scale*/
  font-size: .875rem; }

p {
  padding-top: 1rem; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2rem; }

h1, h2, h3 {
  padding-top: 2rem; }

h4, h5, h6 {
  margin-block-start: 0em;
  margin-block-end: 0em; }

/* h1-h6 use SF-Pro-Display since they are bigger than 20px */
h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Display', sans-serif; }

/* h1-h6 use font scale: 14, 16, 20, 24, 30, 36, 48, 60..*/
h1 {
  font-size: 3.75rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.875rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

.header > h6 {
  padding: 10px 20px;
  font-weight: 500;
  color: #fff; }

.grid-page > div {
  /* display: flex; */
  align-items: center;
  padding: 0px 20px; }

.grid-page > .menu > .menu-header {
  margin-top: 1.5em;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  /* justify-content: center; */ }

.grid-page > .menu > .menu-header > .btn {
  max-width: 50%; }

.grid-page > .menu > .menu-contents {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 0.50rem; }

.grid-page > .menu > .menu-contents > p {
  margin-top: 0em;
  padding-left: 1.5rem;
  line-height: 0.25rem;
  /* padding-top: 0em; */ }

.grid-page > .menu > .border-bottom {
  padding-top: 0.5rem;
  align-self: flex-start;
  width: 13rem; }

.grid-page > .contents > .contents-headline {
  margin-top: 0.5em;
  padding-bottom: 1.25rem; }

html, body {
  margin: 0px;
  background-color: #F6F8FA; }

@media (max-width: 825px) {
  .header > h6 {
    padding: 0px 0px;
    margin-left: 10px;
    font-weight: 500;
    color: #fff; }
  .header > h6 > h6 {
    margin-left: 10px; }
  .grid-page > .contents > .contents-headline {
    margin-top: 1.5em;
    margin-bottom: 1.25rem;
    margin-left: 1em; } }

.grid-page {
  height: 100%;
  display: grid;
  /* grid-gap: 5px; */
  /* short-hand method for grid-template-columns (L) */
  grid-auto-rows: 50px;
  grid-template-rows: 3.5em auto 50px;
  grid-template-columns: 16em auto;
  grid-template-areas: "h h" "m c" "f f"; }

.header {
  /* span to the last column line */
  grid-area: h;
  display: flex;
  /* margin-left: 5em;
    margin-right: 5em; */
  background-color: #2b3a42;
  /* color: #88a0ad; */ }

.header > h6:nth-child(3) {
  margin-left: auto;
  /* margin-left: 90%; */ }

.header > h6:nth-child(4) {
  margin-left: auto; }

.menu {
  border-radius: 2px;
  border-color: black;
  display: flex;
  flex-direction: column;
  grid-area: m;
  background-color: #fff; }

.contents {
  grid-area: c;
  display: grid;
  grid-template-rows: 3.5em auto auto auto;
  grid-template-areas: "ch" "cg" "bb" "."; }

.contents > .contents-headline {
  display: flex;
  grid-area: ch;
  flex-direction: row;
  /* text-justify: distribute; */
  align-items: center;
  align-self: center;
  /* justify-content: center; */
  /* justify-content: center; */
  /* margin-top: 10px; */
  padding-top: 2.5rem; }

.contents > .contents-grid {
  display: grid;
  grid-area: cg;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  /* grid-template-rows: repeat(auto-fit, 250px); */
  grid-auto-rows: 240px;
  justify-items: center;
  padding-top: 1.5rem;
  padding-right: 1.5rem; }

.contents > .border-bottom {
  display: flex;
  grid-area: bb; }

.footer {
  grid-area: f;
  display: flex;
  align-content: left;
  background-color: #333333;
  color: #fff;
  /* span to the last column line */ }

.footer > span {
  margin-left: auto; }

@media screen and (max-width: 825px) {
  .grid-page {
    grid-template-rows: 3.5em 10em auto 3em;
    grid-template-columns: auto;
    grid-template-areas: "h h h h h" "m m m m m" "c c c c c" "f f f f f"; }
  .menu {
    border-bottom: 1px solid #e1e4e8 !important;
    border-right: none; } }

@media screen and (min-width: 825px) {
  .menu {
    border-right: 1px solid #e1e4e8 !important; } }
