.grid-page {
    height: 100%;
    display: grid;
    /* grid-gap: 5px; */
    /* short-hand method for grid-template-columns (L) */
    /* grid-template: repeat(2, 50px) / repeat(2, 1fr); */
    grid-auto-rows: 50px;
    grid-template-rows: 3.5em auto 50px;
    grid-template-columns: 14em auto;

    grid-template-areas: 
        "h h"
        "m c"
        "f f"
}

.header {
    /* span to the last column line */
    grid-area: h; 
    display: flex;
    /* margin-left: 5em;
    margin-right: 5em; */
    background-color: #333333;
    /* color: #88a0ad; */
}

.header > h6:nth-child(3) {
    margin-left: auto;
    /* margin-left: 90%; */
}


.header > h6:nth-child(4) {
    margin-left: auto;
}

.menu {
    border-radius: 2px;
    border-color: black;
    display: flex;
    flex-direction: column;
    grid-area: m;
    background-color: #fff;
    border-right: 1px solid #e1e4e8!important;
}

.contents {
    grid-area: c;
    display: grid;
}

.contents > .contents-grid {
    /* max-width: 800px; */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: 175px;
    justify-items: right;
}

.footer {
    grid-area: f;
    background-color: #333333;
    color: #fff;
    /* span to the last column line */
}

.footer > span {
    margin-left: auto;
}

@media (max-width: 768px) {
    .grid-page {
        grid-template-rows: 3.5em 10em auto 3em;
        grid-template-columns: auto;
        grid-template-areas:
            "h h h h h"
            "m m m m m"
            "c c c c c"
            "f f f f f";
        }
        
  }