.grid-page {
    height: 100%;
    display: grid;
    /* grid-gap: 5px; */
    /* short-hand method for grid-template-columns (L) */
    /* grid-template: repeat(2, 50px) / repeat(2, 1fr); */
    grid-auto-rows: 100px;
    grid-template-rows: 3.5em auto 3.5em;
    grid-template-columns: 3.5em auto;

    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f";
}


.header {
    /* span to the last column line */
    grid-area: h; 
    display: flex;
    /* margin-left: 5em;
    margin-right: 5em; */
    background-color: #88a0ad;
    /* color: #88a0ad; */
}

.header > p:nth-child(3) {
    margin-left: auto
    /* margin-left: 90%; */
}


.header > p:nth-child(4) {
    margin-left: auto;
}

.menu {
    display: grid;
    grid-area: m;
    background-color: #b8d1df;
}

.content {
    grid-area: c;
    background-color: #ebffff;
}

.footer {
    grid-area: f;
    background-color: #333333;
    color: #fff;

    /* span to the last column line */
    /* grid-column: 1 / -1; */
}

@media (max-width: 700px) {
    .grid {
      grid-template-areas:
        'name'
        'avatar'
        'bio';
    }
  }