extends layout

block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            // leveraging passed controller 'content' object
            // to display generic information
            p!= content
