extends layout
block content
    include _includes/sharedHTMLfunctions

    .grid-page
        .header
            h6 Home
            h6 About
            h6 
                h6 Profile
                h6 Logout
        .menu  
            .menu-header
                h6 Groups
                | &nbsp; &nbsp;
                button 
                    span New Group
            .border-bottom

            .menu-contents
                p Example Category 1
                p Example Category 2

        .contents
            .contents-headline
                h6 Category 1
                | &nbsp; &nbsp;
                button.button-curved
                        span
                            .glyph-add
                                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="glyph-add" aria-hidden="true")
                                    path(d="M15.169 21.24v-4.423h-4.387a.824.824 0 01-.818-.813c0-.448.379-.821.818-.821h4.387V10.76c0-.44.38-.796.827-.796.447 0 .827.356.827.796v4.423h4.395c.447 0 .818.373.818.821a.82.82 0 01-.818.813h-4.395v4.423c0 .431-.38.796-.827.796-.447 0-.827-.365-.827-.796z")
                            //- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="glyph-add" aria-hidden="true"><path d="M15.169 21.24v-4.423h-4.387a.824.824 0 01-.818-.813c0-.448.379-.821.818-.821h4.387V10.76c0-.44.38-.796.827-.796.447 0 .827.356.827.796v4.423h4.395c.447 0 .818.373.818.821a.82.82 0 01-.818.813h-4.395v4.423c0 .431-.38.796-.827.796-.447 0-.827-.365-.827-.796z"></path></svg>
                        span Add Label
            .contents-grid
                script(src="/javascripts/JsBarcode.all.min.js")
                - for(i = 0; i < 10; i++)
                    - 
                        label = { 
                            format: "CODE39", 
                            lineColor: "black", 
                            width: 2, height: 50, 
                            font: "Helvetica", 
                            displayValue: true, 
                            text: `SP${i}`, 
                                textPosition: "bottom"
                        }
                    .card
                        b=`Card Label #${i}`
                        +printLabel(label)

            .border-bottom
     
        .footer
            span © Copyright 2020 - Jorge Euceda
