extends layout

block content
    .homepage
        .header
            .header_button(style="display: flex; flex-direction: row; align-items: center; margin-left: 0.5em")
                h5.no-select
                    img.header_logo(src='/images/logo.png' alt="Vidente Logo")
                    h4(style="margin-left: 0.25em") Vidente
            .header_button
                button.header_button.selected_button
                    h6.no-select Product

            .header_button
                button.header_button.try_button
                    h6.no-select Login

        .get_started
            h1.larger
                | Intuitive
                | and Modern <br/>
                | Barcode Manager
                | for your <br/>
                | Point-Of-Sale Products
            p.larger_paragraph
                b Vidente
                |
                | helps you create, visualize, and group your barcodes as quickly as possible, getting your
                | inventory labeled faster.
            .header_button
                button.header_button.try_button
                    h6.no-select Get Started
        .problem
            p.larger_paragraph
                | Inspired by a Youtube video! In this video, a business owner of a
                | local soap shop has to follow a tedious process.
            //iframe(width="560" height="315"
            //    src="https://youtube.com/embed/rUuUGIzY6as"
            //    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

            .youtube-container.home-youtube-container-embed-responsive.embed-responsive-item.videoPlayer(id="vid-rUuUGIzY6as")
                .homeVideoThumbnail.video-player(style="width: 640px; height: 360px;")
                    img(src="/images/inspiration.png" alt="Youtube Inspiration Video")
                    svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="video-player__btn homeVideoPlayButton"
                        width="96" height="96" viewBox="0 0 48 48" style="fill:#000000;")
                        g
                            path(style="fill: #FF3D00;"
                                d="M 43.199219 33.898438 C 42.800781 36 41.101563 37.601563 39 37.898438 C 35.699219 38.398438 30.199219 39 24 39 C 17.898438 39 12.398438 38.398438 9 37.898438 C 6.898438 37.601563 5.199219 36 4.800781 33.898438 C 4.398438 31.601563 4 28.199219 4 24 C 4 19.800781 4.398438 16.398438 4.800781 14.101563 C 5.199219 12 6.898438 10.398438 9 10.101563 C 12.300781 9.601563 17.800781 9 24 9 C 30.199219 9 35.601563 9.601563 39 10.101563 C 41.101563 10.398438 42.800781 12 43.199219 14.101563 C 43.601563 16.398438 44.101563 19.800781 44.101563 24 C 44 28.199219 43.601563 31.601563 43.199219 33.898438 Z ")
                            path(style="fill: #FFF;"
                                d="M 20 31 L 20 17 L 32 24 Z ")
        .border_bottom
        .interactive_label.section
            h1.section_title
                | Interactive Label Creation
            p.larger_paragraph
                | Intuitively Create Labels using our platform
    script(src="/javascripts/yt-lazyload.js")

    //insert GIF showing this here
        .responsive_website
        .definition
