extends layout
block content
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/basic.css')

    .grid-page
        .header
            h6 Home
            h6 About
            h6 
                h6 Profile
                h6 Logout
        .menu  
            .menu-header
                h6 Label Categories
                | &emsp;
                .btn hello

            .menu-contents
                p Example Category 1
                p Example Category 2
        .content
            .content-grid
                div hello
                div hello
                div hello
                div hello
                div hello
                div hello
                div hello
                div hello
                div hello
            //- .content-header
            //-     p Soap Labels
            //- .content-grid
        .footer
            span Copyright - Jorge Euceda 2020
