extends layout
block content
    include _includes/sharedHTMLfunctions

    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/basic.css')

    .grid-page
        .header
            h6 Home
            h6 About
            h6 
                h6 Profile
                h6 Logout
        .menu  
            .menu-header
                h6 Collections
                | &emsp;
                .btn hello

            .menu-contents
                p Example Category 1
                p Example Category 2
        .contents
            .contents-headline
                h6 Category 1
                | &emsp;
                button Add a Label
            .contents-grid
                script(src="/javascripts/JsBarcode.all.min.js")
                - for(i = 0; i < 10; i++)
                    - 
                        label = { 
                            format: "CODE39", 
                            lineColor: "black", 
                            width: 2, height: 50, 
                            font: "Helvetica", 
                            displayValue: true, 
                            text: `SP${i}`, 
                                textPosition: "bottom"
                        }
                    .card
                        b(style="margin-bottom: 1rem")=`Card Label #${i}`
                        +printLabel(label)

     
        .footer
            span © Copyright 2020 - Jorge Euceda
