extends layout  

block content
    include _includes/sharedHTMLfunctions
    .row.banner
        .col-12
            h1 Soap Product
    .row
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        // uses included mixin function for star rasting
                        //- +outputRating(location.rating)
                    //- p= location.address
                    .card.card-primary
                        .card-block
                            // One of several Bootstrap card components
                            // used to define information areas - in this case,
                            // opening hours.
                            h2.card-title Label Name
                            //- each time in location.openingTimes
                            //-     - if(!time.closed)
                            //-         p.card-text= time.days + ": " + time.opening + " - " + time.closing
                            //-     - if(time.closed)
                            //-         p.card-text= time.days + ": " + "Closed"

                    .card.card-primary
                        .card-block
                            h2.card-title Label Category
                            // iterating through each offering
                            // while utilizing 'offerings' array in location object
                            //- each facility in location.facilities
                            //-     span.badge.badge-warning
                            //-         i.fa.fa-check 
                            //-         | &nbsp; 
                            //-         = facility
                            //-         |&nbsp;
                            //-     | &nbsp;
                .col-12.col-md-6.location-map
                    script(src="/javascripts/JsBarcode.all.min.js")
                    .card.card-primary
                        .card-block
                            h2.card-title.float-left(vertical-align="bottom") Printout
                            | &nbsp; &nbsp; &nbsp;
                            svg#barcode
                                script.
                                    JsBarcode("#barcode", "1234", {
                                    format: "CODE39",
                                    lineColor: "black",
                                    width: 2,
                                    height: 50,
                                    displayValue: true,
                                    text: "SP17",
                                    textPosition: "bottom"
                                    }); 
                                // empty </p> for spacing
                                //- | </p>
                                //- img.img-fluid.rounded(src=`http://maps.googleapis.com/maps/api/staticmap?center=25.7505288,-80.2402597&zoom=17&size=400x350&sensor=false&markers=25.7505288,-80.2402597&scale=2&key=AIzaSyCWTgGF_yiq39DZ8nOasYsr7OJpVoa1nCE`)
            .row
                .col-12
                    .card.card-primary.review-card
                        .card-block
                            a.btn.btn-primary.float-right(href=``) Add Review
                            h2.card-title Customer Reviews
                            //- .row.review
                                each review in location.reviews
                                    .col-12.no-gutters.review-header
                                        span.rating
                                            +outputRating(review.rating)
                                            | &nbsp;&nbsp;&nbsp;
                                        span.reviewAuthor
                                            | &nbsp;&nbsp;&nbsp;
                                            = review.author
                                            | &nbsp;&nbsp;&nbsp;
                                        small.reviewTimestamp
                                            | &nbsp;&nbsp;&nbsp;
                                            // calls mixin function passing the
                                            // creation date of the review
                                            +formatDate(review.createdOn)
                                            | &nbsp;&nbsp;&nbsp;
                                    .col-12
                                        p= review.reviewText
        .col-12.col-lg-3
            p.lead= 'Label is on Vidente because it has accessible wifi and space to sit down with your laptop and get some work done'
            p= "If you\'ve been and you like it - or if you don\'t - please leave a review to help other people just like you."