html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/animation-styles.css')
    link(rel='stylesheet', href='/stylesheets/card-styles.css')
    link(rel='stylesheet', href='/stylesheets/color-styles.css')
    link(rel='stylesheet', href='/stylesheets/font-styles.css')
  body
    block content