doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    // sets up a bootstrap navigation bar fixed to the top of the window
    nav.navbar.fixed-top.navbar-expand-md.navbar-dark
      .container
        a.navbar-brand(href='/ ') Vidente

        // sets up collapsing navigation for smaller screen resolutions
        button.navbar-toggler(type='button', data-toggle='collapse', data-target= '#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              // adds an About link to the left side of the bar
              a.nav-link(href="/about/") About
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/profile") Profile
                | &nbsp;
                .fas.fa-user
            li.nav-item
              // adds an About link to the left side of the bar
              a.nav-link(href="/main/") Logout
                | &nbsp;
                .fas.fa-sign-out-alt

    .container
      block content

      footer
        .row
          .col-12
            small &copy; Jorge Euceda 2020
            
    // Brings in jQuery and Popper, needed by Bootstrap
    //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')

    // Brings in the bootstrap javascript file
    script(src='/javascripts/bootstrap.min.js')

    // Include the validation file
    script(src='/javascripts/validation.js')

    script(src='/javascripts/labels.js')

    script(src="/javascripts/jquery.min.js")

    script(src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js")

script.
  $(document).ready(function() {

    // Initialize the plugin
    $('#JPO').popup({transition: 'all 0.2s'});

    //- // Set default `pagecontainer` for all popups (optional, but recommended for screen readers and iOS*)
    //- $.fn.popup.defaults.pagecontainer = '#page'

    $('.close-popup').on('click touchstart', function(e){
      $('#JPO').popup('hide');
    });
  });


div#JPO
  include _includes/sharedHTMLfunctions
  .card
    .card-block
      .row
        .col-xs-6
            .far.fa-star
            small &nbsp;Favorite
            | &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
        .col-xs-6
          .fas.fa-times.close-popup
      
      .card-block.card-block-secondary
        .col-sm-12(contenteditable="true")
          h4 Dove Premium Soap
        .row(style="margin: 0.6rem")

        .row(style="margin-left: 1.25rem")
          .col-xs-4
            b.small Category&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
          .col-xs-2
            | &emsp;
          .col-xs-6(contenteditable="true")
            b.h7 Soap Products

        .row(style="margin-left: 1.25rem")
          .col-xs-4
            b.small SKU&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
          .col-xs-2
            | &emsp;
          .col-xs-6(contenteditable="true")
            b.h7 SP17

        .row(style="margin-left: 1.25rem")
          .col-xs-4
            b.small Date Created
          .col-xs-2
            | &emsp;
          .col-xs-6(contenteditable="true")
            b.h7 March 6th, 2020

        .row
          .col-xs-12.mx-auto
           +printLabel(label)
       
        .row
          .col-xs-12.mx-auto
            .btn.btn-secondary
                .fas.fa-user-edit
                small
                | &nbsp;
                | Apply Changes